<table>
    <thead>
        <tr className="header">
            <td>Ma liste</td>
            <td>Le prof</td>
            <td>Le prix</td>
            <td>L'action</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td className="course">
                <img src="/Images/image2.jpg" />
                <h4>Mathematique course</h4>
            </td>
            <td>Baha Lina</td>
            <td>100$</td>
            <td><i class="fa-sharp fa-solid fa-trash"></i></td>
        </tr>
        <tr>
            <td className="course">
                <img src="/Images/image2.jpg" />
                <h4>Physique course</h4>
            </td>
            <td>Aitsaid Sarah</td>
            <td>150$</td>
            <td><i class="fa-sharp fa-solid fa-trash"></i></td>
        </tr>
        <tr>
            <td className="course">
                <img src="/Images/image2.jpg" />
                <h4>Python course</h4>
            </td>
            <td>Abbad Hiba</td>
            <td>200$</td>
            <td><i class="fa-sharp fa-solid fa-trash"></i></td>
        </tr>
        <tr>
            <td className="course">
                <img src="/Images/image2.jpg" />
                <h4>React course</h4>
            </td>
            <td>Belgacem Khawla</td>
            <td>150$</td>
            <td><i class="fa-sharp fa-solid fa-trash"></i></td>
        </tr>
    </tbody>
</table>