<html lang="en-us">
<h3>Welcome {{ user.username}}</h3>
<a href="{% url 'annonceshow' %}">refresh</a>
<a href="{% url 'logout' %}">deconnexion</a>
<form>
    <input type = "search" name="rechercher">
    
    <label> Theme:</label>
    <select name="themeAnnonce">
        <option value="none">none</option>
        <option value="math">math</option>
        <option value="physique">physique</option>
        <option value="science">math</option>
        <option value="arabe">physique</option>
        <option value="francais">none</option>
        <option value="anglais">math</option>
    </select>

    <label> Wilaya:</label>
    <select name="wilayaAnnonce">
        <option value="none">none</option>
        <option value="1-Adrar">1-Adrar</option>
        <option value="2-Chelf">2-Chelf</option>
        <option value="3-Laghouat">3-Laghouat</option>
        <option value="4-Oum El Bouaghi">4-Oum El Bouaghi</option>
        <option value="5-Batna">5-Batna</option>
        <option value="6-Bejaia">6-Bejaia</option>
        <option value="7-Biskra">7-Biskra</option>
        <option value="8-Bechar">8-Bechar</option>
        <option value="9-Blida">9-Blida</option>
        <option value="10-Bouira">10-Bouira</option>
        <option value="11-Tamanrasset">11-Tamanrasset</option>
        <option value="12-Tebessa">12-Tebessa</option>
        <option value="13-Tlemcen">13-Tlemcen</option>
        <option value="14-Tiaret">14-Tiaret</option>
        <option value="15-Tizi Ouzou">15-Tizi Ouzou</option>
        <option value="16-Alger">16-Alger</option>
        <option value="17-Djelfa">17-Djelfa</option>
        <option value="18-Jijel">18-Jijel</option>
        <option value="19-Setif">19-Setif</option>
        <option value="20-Saida">20-Saida</option>
        <option value="21-Skikda">21-Skikda</option>
        <option value="22-Sidi Bel Abbes">22-Sidi Bel Abbes</option>
        <option value="23-Annaba">23-Annaba</option>
        <option value="24-Guelma">24-Guelma</option>
        <option value="25-Constantine">25-Constantine</option>
        <option value="26-Medea">26-Medea</option>
        <option value="27-Mostaganem">27-Mostaganem</option>
        <option value="28-Msila">28-Msila</option>
        <option value="29-Mascara">29-Mascara</option>
        <option value="30-Ouargla">30-Ouargla</option>
        <option value="31-Oran">31-Oran</option>
        <option value="32-El Bayadh">32-El Bayadh</option>
        <option value="33-Illizi">33-Illizi</option>
        <option value="34-Bordj Bou Arreridj">34-Bordj Bou Arreridj</option>
        <option value="35-Boumerdes">35-Boumerdes</option>
        <option value="36-El Taref">36-El Taref</option>
        <option value="37-Tindouf">37-Tindouf</option>
        <option value="38-Tissemsilt">38-Tissemsilt</option>
        <option value="39-El Oued">39-El Oued</option>
        <option value="40-Khenchela">40-Khenchela</option>
        <option value="41-Souk Ahras">41-Souk Ahras</option>
        <option value="42-Tipaza">42-Tipaza</option>
        <option value="43-Mila">43-Mila</option>
        <option value="44-Ain Defla">44-Ain Defla</option>
        <option value="45-Naama">45-Naama</option>
        <option value="46-Ain Temouchent">46-Ain Temouchent</option>
        <option value="47-Ghardaia">47-Ghardaia</option>
        <option value="48-Relizane">48-Relizane</option>
    </select>

    <label> Commune:</label>
    <select name="communeAnnonce">
        <option value="none">none</option>
        <optgroup label="1-Adrar">
            <option value="01001-Adrar">01001-Adrar</option>
            <option value="01002-Tamest">01002-Tamest</option>
            <option value="01003-Charouine">01001-Charouine</option>
            <option value="01004-Reggane">01002-Reggane</option>
            <option value="01005-Inozghmir">01005-Inozghmir</option>
            <option value="01006-Tit">01006-Tit</option>
            <option value="01007-Ksar Kaddour">01007-Ksar Kaddour</option>
            <option value="01008-Tsabit">01008-Tsabit</option>
            <option value="01009-Timimoun">01009-Timimoun</option>
            <option value="01010-Ouled Said">01010-Ouled Said</option>
            <option value="01011-Zaouiet">01011-Zaouiet</option>
            <option value="01012-Aoulef">01012-Aoulef</option>
            <option value="01013-Timokten">01013-Timokten</option>
            <option value="01014-Tamentit">01014-Tamentit</option>
            <option value="01015-Fenoughil">01015-Fenoughil</option>
            <option value="01016-Tinerkouk">01016-Tinerkouk</option>
            <option value="01017-Deldoul">01017-Deldoul</option>
            <option value="01018-Sali">01018-Sali</option>
            <option value="01019-Akabli">01019-Akabli</option>
            <option value="01020-Metarfa">01020-Metarfa</option>
            <option value="01021-O Ahmed Timmi">01021-O Ahmed Timmi</option>
            <option value="01022-Bouda">01022-Bouda</option>
            <option value="01023-Aougrout">01023-Aougrout</option>
            <option value="01024-Talmine">01024-Talmine</option>
            <option value="01025-B Badji Mokhtar">01025-B Badji Mokhtar</option>
            <option value="01026-Sbaa">01026-Sbaa</option>
            <option value="01027-Ouled Aissa">01027-Ouled Aissa</option>
            <option value="01028-Timiaouine">01028-Timiaouine</option>
        </optgroup>

        <optgroup label="2-Chelf">
            <option value="02001-Chelf">02001-Chelf</option>
            <option value="02002-Tenes">02002-Tenes</option>
            <option value="02003-Benairia">02003-Benairia</option>
            <option value="02004-El Karimia">02004-El Karimia</option>
            <option value="02005-Tadjna">02005-Tadjna</option>
            <option value="02006-Taougrite">02006-Taougrite</option>
            <option value="02007-Beni Haoua">02007-Beni Haoua</option>
            <option value="02008-Sobha">02008-Sobha</option>
            <option value="02009-Harchoun">02009-Harchoun</option>
            <option value="02010-Ouled Fares">02010-Ouled Fares</option>
            <option value="02011-Sidi Akacha">02011-Sidi Akacha</option>
            <option value="02012-Boukadir">02012-Boukadir</option>
            <option value="02013-Sidi Rached">02013-Sidi Rached</option>
            <option value="02014-Talassa">02014-Talassa</option>
            <option value="02015-Herenfa">02015-Herenfa</option>
            <option value="02016-Ouled Goussine">02016-Ouled Goussine</option>
            <option value="02017-Dahra">02017-Dahra</option>
            <option value="02018-Ouled Abbes">02018-Ouled Abbes</option>
            <option value="02019-Sendjas">02019-Sendjas</option>
            <option value="02020-Zeboudja">02020-Zeboudja</option>
            <option value="02021-Ouled Sly">02021-Ouled Sly</option>
            <option value="02022-Abou El Hassen">02022-Abou El Hassen</option>
            <option value="02023-El Marsa">02023-El Marsa</option>
            <option value="02024-Chettia">02024-Chettia</option>
            <option value="02025-Sidi Abderrahmane">02025-Sidi Abderrahmane</option>
            <option value="02026-Moussadek">02026-Moussadek</option>
            <option value="02027-El Hadjadj">02027-El Hadjadj</option>
            <option value="02028-Labiod Medjadja">02028-Labiod Medjadja</option>
            <option value="02029-Oued Fodda">02029-Oued Fodda</option>
            <option value="02030-Ouled Ben Abdelkader">02030-Ouled Ben Abdelkader</option>
            <option value="02031-Bouzghaia">02031-Bouzghaia</option>
            <option value="02032-Ain Merane">02032-Ain Merane</option>
            <option value="02033-Oum Drou">02033-Oum Drou</option>
            <option value="02034-Breira">02034-Breira</option>
            <option value="02035-Ben Boutaleb">02035-Ben Boutaleb</option>
        </optgroup>
    </select>


    <label>Entre deux dates</label>
    <input type="date" name="date1" value="2023-01-01">
    <input type="date" name="date2" value="2023-01-01">
        <input type="submit" value="filtrer">
</form>

{% if user.favori %}
<p>
<a href="{% url 'favoris' %}">voir favoris ( il y a:{{ user.favori.annonces.count}})</a>
</p>
{% endif %}
<p>
<a href="{% url 'dejadeposer' %}">voir les annonces  deposer par vous</a>
</p>
<p>
<a href="{% url 'messages' %}">voir les messages recu </a>
</p>
<p>
<a href="{% url 'messagesenvoye' %}">voir les messages envoye </a>
</p>

<h4>Les annonces disponible: </h4>
{% for i in annoncer%}
    id={{i.id}}
    <br>
    titre={{i.titre}}
    <br>
    category={{i.category}}
    <br>
    theme={{i.themeAnnonce}}
    <br>
    wilaya={{i.wilayaAnnonce}}
    <br>
    commune={{i.communeAnnonce}}
    <br>
    date={{i.datepub}}
    <br>
    description={{i.description}}
    <a href="{% url 'details' i.slug  %}" >  voir les details</a>
    <hr>
{% endfor %}

<a href="{% url 'annonce' %}">ajouter une annnonce</a>
</html>
