<h4>Voici vos favoris</h4>
{% for i in annonces%}
    category={{i.annonce.category}}
    <br>
    theme={{i.annonce.themeAnnonce}}
    <br>
    wilaya={{i.annonce.wilayaAnnonce}}
    <br>
    commune={{i.annonce.communeAnnonce}}
    <br>
    date={{i.annonce.datepub}}
    <br>
    description={{i.annonce.description}}
    <a href="{% url 'details' i.annonce.slug  %}" >voir les details</a>
    <hr>
{% endfor %}

<a href="{% url 'supprimerfavoris' %}">supprimer Favoris</a>
<br>
<a href="{% url 'annonceshow' %}">revenir</a>
