.hero{
    display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 8%;
	padding-right: 8%;
    background-color: rgb(255, 255, 255);
}
.hero h2{
   margin-top: -10px;
}
li{
    display: inline-block;
    list-style-type: none;
    padding: 5px  10px;
}
ul li a{
    color: #1F4690;  
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
ul li a:hover {
    color: #F66B0E;
    transition: .4s;
}
.logo{
    font-size: 30px;
    color:
    #1F4690 ;
    font-weight: bold;

}
span{
    color: #F66B0E;
}
.favor{
    text-decoration: none;
    color: #F66B0E;
    font-size: 18px;
    font-weight: 700;
}