.tous{
    height: 100vh;
    background:#EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lien {
    background-color: #EFEFEF;
}
.lien a{
    text-decoration: none;
    color: #F66B0E;
    font-size: 20px;
    font-weight: bold;
}
.contaainer{
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 36px -6px #1F4690;
    background-color: #1F4690;
    border-radius: 15px;
}
.header h1{
    color: #EFEFEF;
    padding: 15px;
}
.body{
    flex: 1;
    color: #EFEFEF;
    background-color: #231955;
    padding: 20px 30px;
}
.message{
    background-color:#1F4690 ;
    padding: 10px;
    color: #EFEFEF;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}
.user_message{
    margin-left: auto;
    background-color: #EFEFEF;
    color:#231955;

}
.footere .frm{
    display: flex;
}
.frm input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}
.frm button{
    width: 100px;
    font-size: 18px;
    border:none;
    outline: none;
    background-color: #F66B0E;
    color: #EFEFEF;
    cursor: pointer;
}