.about{
    padding-top: 70px;

}
.imgg img{
    height: 500px;
    width: 600px;
    padding-left: 80px;
    padding-right: 50px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ktiba h1{
    color: #231955;
    padding-bottom: 30px;
    padding-left: 100px;
}
.ktiba p{
    width: 700px;
    color: #1F4690;
    padding-right: 100px;
    font-size: 20px;
    font-weight: 450;
}
.ktiba button{
    background-color:#EFEFEF;
	color: #1F4690;
	text-decoration: none;
	border: 2px solid #1F4690;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
    margin-left: 100px;
    margin-top: 30px;
	transition: .4s; 
}
.ktiba button:hover{
    background-color: #F66B0E;
    color: #EFEFEF;
    border: 2px solid transparent;
}
